.horizontal-line {
  border-top: 1px solid #d9d9d9;
  width: 90%;
  margin-left: 1%;
}

.horizontal-line-nested {
  border-top: 1px solid #d9d9d9;
  width: 90%;
  margin-left: 1%;
}

.event-timestamp-title {
  font-size: 16px;
  color: black;
  margin-left: 2%;
  margin-bottom: 5px;
}
.event-button {
  margin-top: 20px;
  margin-left: 1%;
  width: 150px;
  height: 38px;
  font-size: 16px;
  border: none;
  color: white;
  background-color: #0b56ef;
  cursor: pointer;
  justify-content: space-between;
  border-radius: 100px;
}

.event-button span {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  line-height: 1em;
}

.event-button:hover {
  box-shadow: 0px 4px 25px 0px rgba(11, 86, 239, 0.25);
}

.event-timestamp-container {
  margin-left: 1%;
  align-items: center;
  margin-top: 10px;
}

.event-input-button-container {
  margin-left: 2%;
  align-items: center;
  margin-top: 10px;
  display: flex;
}

.event-input {
  margin-top: 20px;
  width: 270px;
  height: 30px;
  font-size: 16px;
  border: none;
  color: black;
  cursor: pointer;
  justify-content: space-between;
  border-radius: 7px;
}

.insert-event-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 10px;
  resize: none;
}
